{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="{% static 'css/dark-theme.css' %}?v=1" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    {% include "nav.html" %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% for msg in messages %}
                {% if msg %}
                <div class="alert alert-success" role="alert">
                    {{msg}}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="text-center">My Profile</h1>
        <div class="text-center mb-4">
            <a href={% url "createpost" %} class="btn btn-primary">New Post</a>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>My Posts</h2>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for i in post %}
                    <div class="col">
                        <div class="card">
                            <img src="{{i.image.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{request.user.username}}</h5>
                                <p class="card-text">{{i.captions}}</p>
                                <p class="card-text">Created At:{{i.created_at}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="card ">
                    {% if profile.profile_img %}
                    <img src="{{ profile.profile_img.url }}" class="card-img-top p-2" style="width: 100%; aspect-ratio: 1; object-fit: cover; border-radius: 50%;" alt="...">
                    {% else %}
                    <img src="{% static 'images/default_dp.png' %}" class="card-img-top p-2" style="width: 100%; aspect-ratio: 1; object-fit: cover; border-radius: 50%;" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{profile.name}}</h5>
                        <p class="card-text">{{profile.email}}</p>
                        <p class="card-text">{{profile.bio}}</p>
                        <a href={% url "edit" id=profile.id %} class="btn btn-primary">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>